MT.Test/Service References/UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3891/User/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MT.WCF.User.Request" />
  <xs:import schemaLocation="http://localhost:3891/User/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MT.LQQ.Models.Param" />
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MT.WCF.User.Request" minOccurs="0" name="param" nillable="true" type="q1:ParamForGetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MT.LQQ.Models.Param" minOccurs="0" name="GetUserResult" nillable="true" type="q2:ResponseDataOfUserEntityRuxM_PW9B" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>